.container-fluid
    dynamic-component(
        v-bind:component_infos='upper_component_section'
    )
    dynamic-component(
        v-bind:component_infos='middle_component_section'
    )
    dynamic-component(
        v-bind:component_infos='bottom_component_section'
    )
